.nav {
  display: flex;
  align-items: center;
  height: 80px;

  li {
    list-style: none;
    display: inline-block;
    margin-right: 16px;

    a {
      color: var(--surface-500);
      cursor: pointer;

      &:hover {
        color: $primary-color
      }
    }
  }
}
