<div class="header">
  <div class="grid">
    <div class="col-3">
      <div class="logo" routerLink="/">
        <img src="images/eshop-logo.svg" alt="eshop Logo">
        <span>E-Shop</span>
      </div>
    </div>
    <div class="col-4 search">
      <product-search></product-search>
    </div>
    <div class="col-3 navigation">
      <client-nav></client-nav>
    </div>
    <div class="col-1">
    </div>
    <div class="col-1 actions">
      <i class="pi pi-user"></i>
      <orders-cart-icon />
    </div>
  </div>
</div>
